.title{
    margin: 1rem 0;
}
p,
.list-group-item{
    font-family: 'Roboto', sans-serif;
}
.header-btn {
    background-color: white;
    
}
.header-btn:hover {
    background-color: #E3E3E3;
}
.main-font,
.card-text{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}
.carousel.slide img{
    filter: brightness(0.75);
}
.secondary-font{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 25px;
}
